<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
 
 <!-- TestBean configuration -->
 <bean id="test" class="com.nt.beans.TestBean">
   <constructor-arg value="10"/>
   <constructor-arg value="20"/>
 </bean>
 <!-- InnerBean configuration -->
 <bean id="inner" class="com.nt.beans.TestBean.InnerBean">
   <constructor-arg value="30"/>
   
 </bean>
 
 </beans>
