<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<bean id="lacalc" class="com.nt.beans.LoanAmntCalculator">
		<constructor-arg name="details" value="50000,2,3" />
	</bean>

	<!-- configure PropertyEditorConfigurer -->
	<bean
		class="org.springframework.beans.factory.config.CustomEditorConfigurer">
		<property name="customEditors">
			<map>
			    <entry key="com.nt.beans.LoanAmntDetails" value="com.nt.editors.LoanAmntDetailsEditor"/>
			</map>
		</property>
	</bean>
</beans>
