<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
   <!-- configure dependent class -->
   <bean id="dt" class="java.util.Date"/>
   
   <bean id="dt1" class="java.util.Date">
      <!-- setter injection -->
      <property name="year"  value="90"/>
      <property name="month"  value="09"/>
      <property name="date"  value="10"/>
   </bean>
      
      <!-- configure target class-->
   <bean id="wmg" class="com.nt.beans.WishMessageGenarator">
      <!-- constructor injection -->
      <constructor-arg name="date" ref="dt1"/>
      <!-- <constructor-arg name="date">
        <ref bean="dt1"></ref>
      </constructor-arg> -->
      
      <!-- setter injection -->
      <!-- <property name="date" ref="dt1"/> -->
      <!-- <property name="date">
      <ref bean="dt1"></ref>
      </property>
 -->   </bean> 
</beans>
